/* Header Colours*/
$header-top-grad-clr:#09f;
$header-bot-grad-clr:#06f;
$header-bg-clr:#09f;
$header-txt-clr:#fff;

/*Container Colours*/
$con-header-bg-clr:#414141;
$con-header-txt-clr:#fff;


/*Footer colour*/
$footer-bg-clr:#1E1E1E;
$footer-txt-clr:#8c8787;

/* Loader Bar Coulours*/
$loader-bar-clr:#09f;
